p {
	color: black;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
}
h1 {
	color: black;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 600;
}
h2 {
	color: black;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 500;
}

img {
	display: block;
	margin: 0 auto;
}