<label>In what category does your startup belong?</label>
<div class="form-group">
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.travel" value="travel">
           Travel
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.fitness" value="fitness">
           Fitness
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.social" value="social">
           Social Networking
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.productivity" value="productivity">
           Productivity
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.finance" value="finance">
           Finance
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.shopping" value="shopping">
           Shopping
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.media" value="media">
           Media
       </label>
     </div>
     
     <div class="checkbox">
       <label>
           <input type="checkbox" ng-model="category.education" value="education">
           Education
       </label>
     </div>

</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.keywords" class="btn btn-block btn-default" ng-show="completed(category)">
    Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>